html, body {
  background-image: url(../images/assault.png);
  background-color: #333;
  color: #E7E7E7;
}

.bg1 { 
  background-image: url(../images/assault.png); 
  background-color: #333;
}
.bg2 { 
  background-image: url(../images/cream_dust.png) !important; 
  background-color: #F4F4F4 !important; 
  color: #2F2B2B !important; 
}

#container {
  position: relative; /* set to relative for sticky sidebar */
}

#content {
  background-image: url(../images/assault.png);
  background-color: #333;
  box-shadow: none;
  height: 100%; width: 80%;
  margin: 100px auto 30px auto;
}

/* content styling */ 
  
/* tab menu styling */ 

#content nav {
  border-bottom: 1px solid #464646;
  height: 34px;
}

#tabs {
  height: 40px; width: 90%;
  margin: 0 auto;
}

#tabs li a {
  background: #2F2B2C;
  border-top: 1px solid #464646;
  border-right: 1px solid #464646;
  border-left: 1px solid #464646;
  border-radius: 8px 8px 0 0;
  color: #B2DB24;
  float: left;
  font-size: 1.05em;
  font-weight: bold;
  margin: 0 2px; padding: 6px 0 6px 12px;
  width: 24%;
}

#tabs li#current a {
  background: #1D1E21;
  border-top: 1px solid #8A8A8A;
  border-right: 1px solid #8A8A8A;
  border-left: 1px solid #8A8A8A;
  color: #B2DB24;
  display: block;
  float: left;
}

#tabs li a:hover, #tabs li a:focus,
#tabs li#current a:hover, #tabs li#current a:focus {
  color: #C4ED36;
  text-shadow: 0px 0px 7px #98DB32;
}

/* tab content settings */

/* section styling */

#tabNav {
  clear: both;
}

section {
  float: left;
  margin-top: 50px;
}

section.left {
  padding: 0 20px 40px 20px;
}

section.right {
  padding: 0 20px;
}

#tab1 section.left h1 {
  border-bottom: 1px solid #B2DB24;
  font-family: 'Sansation', Arial, Helvetica, Verdana, sans-serif;
  font-size: 1.4em;
  line-height: 22px; 
}

#tab1 section.left .box p {
  min-height: 120px;
  padding: 15px;
}

section.right .box {
  border-bottom: 4px solid #2E2E2E;
  margin-bottom: 15px;
}

section.right p {
  padding: 15px;
}

section.right .contactCommunity {
  display: none;
}

/* slideshow styling */

#thumbs, #panel {
  width: 80%;
  margin: 0 auto;
}

#thumbs {
  padding-top: 10px;
  overflow: hidden;
}

#largeImage {
  border-radius: 6px;
}

#thumbs img {
  cursor: pointer;
  float: left;
  margin: 0 0 6px 0; padding: 1px;
  width: 20%;
}

#panel {
  position: relative;
}

#panel img {
  width: 100%;
}

#description {
  background: rgba(0,0,0,0.8);
  color: white;
  position: absolute;
  bottom: 14px;
  padding: 10px 21px;
  width: 98%;
}

/* sticky nav settings */

.menu {
 background-color: #464545;
 border-radius: 6px 0 0 6px;
 box-shadow: -4px 2px 7px rgba(0, 0, 0, 0.7);
 position:absolute;
 right: 0;
 left: auto;
 margin-top: 200px; padding:10px;
 width: 52px;
 top: 60px;
}

.infoButton {
  background-image: url("../images/info.png");
  background-repeat: no-repeat;
  background-position: -1px 0px; 
  cursor: pointer;
  margin:1px;
  padding: 5px 10px;
  position: relative;
  height: 34px; 
}

.infoText {
  background-color: #464545;
  border-radius: 6px 0 6px 6px;
  box-shadow: -4px 2px 7px rgba(0, 0, 0, 0.7);
  padding: 10px 15px;
  position: absolute;
  right: 48px;
  top: 0;
  width: 250px;
}

.transition200 .duration, .transition200 .delay {
 visibility:hidden;
}

.transition200 {
 transition:200ms;
 -webkit-transition:200ms;
 -o-transition:200ms;
}

/* backgroundPicker settings */

header #backgroundPicker  {
  color: #FEFEFE;
  display: inline-block;
  font-weight: bold;
  margin: 10px 0 0 15px;
}

header #backgroundPicker ul {
  display: inline-block;
  list-style: none;
  margin: 0; padding: 0;
  vertical-align: bottom;
}


header #backgroundPicker li {
  float: left;
  margin: 0 0 0 4px;
}

header #backgroundPicker a {
  background-color: #464545; 
  border: 1px solid #0C0C0C; 
  border-radius: 4px; 
  color: #FEFEFE;
  cursor: pointer;
  margin-right: 4px; padding: 1px 4px; 
}

li#dark a:hover, 
li#dark a:focus {
  background-color: #333232;
}

li#light a:hover, 
li#light a:focus {
  background-color: #7F7E7E;
}

header #backgroundPicker a.selected {
  border-bottom: 2px solid #B2DB24;
}

#searchBox {
  height: 85px;
}

#searchCommunity {
  float: none;
  width: 100%;
}

#searchCommunity input[type="submit"] {
  float: right;
  margin: 0px 12px 0 0;
}

#searchCommunity input[type="text"] {
  -moz-transition: width 0.3s ease-in;
     -webkit-transition: width 0.3s ease-in;
     -ms-transition: width 0.3s ease-in;
     -o-transition: width 0.3s ease-in;
     transition: width 0.3s ease-in;
  float: right;
  width: 75%; height: 25px;
  margin-right: 12px;
}

#searchCommunity input[type="text"]:focus {
  border-color: #000;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #FFF;
  height: 25px;
  width: 92%;
}

input[type="submit"] {
  background-color: #696969;
    background-image: -webkit-gradient(linear, top left, bottom left, from(#696969), to(#797979));
    background-image: -webkit-linear-gradient(top, #696969, #797979);
    background-image: -moz-linear-gradient(top, #696969, #797979);
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#696969', endColorstr='#797979');
    background-image: -o-linear-gradient(top, #696969, #797979);
  border: 1px solid rgba(255,255,255, 0.3);
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  background: #519A0F;
}

/* styles for dropdownNav - display: none when > 480px - */

header #dropdownNav {
  float: right;
  margin: -50px 15px 0 0;
}

.dropdown, .dropdown ul {
    background-color: #5B5B5B;
    border-radius: 6px;
    display:block;
    font-weight:700;
    line-height:35px;
    padding: 0 10px;
}

#dropdownNav li.dropdown .caret {
  margin: 16px 0 0 8px;
}

.dropdown ul {
  display: none;
  padding-top: 4px;
  min-width: 100%;
}

.dropdown-menu li a {
  font-weight: 700;
  padding: 3px 6px;
}

.dropdown-menu li a:hover, .dropdown-menu li a:focus {
    background: #626262;
}

/* -- media queries -- */

@media only screen and (max-width: 1211px) {

#community section.right .contactCommunity {
  display: block;
}

#community #searchCommunity input[type="text"] {
    -moz-transition: none;
     -webkit-transition: none;
     -ms-transition: none;
     -o-transition: none;
     transition: none;
   width: 100%;
}

}

@media only screen and (max-width: 960px) {

.menu {
  display: none;
}

#community header .title {
  margin-left: 30px;
}

#community header nav {
  padding-right: 0px;
}

}

@media only screen and (max-width: 890px) {

#community #container #content #tabs {
  width: 100%;
}

#community header .title {
  width: 18%;
}

#community header nav {
  width: 72%;
}

}

@media only screen and (min-width:645px) and (max-width: 800px) {

#community header {
  height: 120px;
}

}

@media only screen and (max-width: 800px) {

#community header nav {
  clear: both;
  float: left;
  width: 100%;
  margin: 0;
}

#community header nav ul {
  float: none;
  margin-left: 30px;
}

#community #content {
  margin: 70px auto 30px;
}

#community #content nav {
  border-bottom: none;
}

#community #content #tabNav {
  background-image: none;
  background-color: #1D1E21;
  border: 1px solid #464646;
  border-radius: 8px;
}

#community #content nav #tabs li a {
  border: 1px solid #464646;
  border-radius: 8px;
  margin: 0 0 15px 8px; padding: 3px 0 3px 12px;
  width: 47%;
}

#community #searchBox {
  display: none;
}

}


@media only screen and (max-width: 767px) {

#community #tabNav section {
  margin-top: 0;
}


#pippi {
  width: 34%;
}

}

@media only screen and (max-width: 644px) {

#community header nav {
  display: none;
}

header #dropdownNav {
  display: block;
}

#community header .dropdown, #community header .dropdown ul {
  background-color: #3B3738;
}

#community header .dropdown ul a {
  color: #FEFEFE;
}

}

@media only screen and (max-width: 480px) {

#slot-screenshots, #thumbs, #gallery {
  display: none;
}

}

@media only screen and (max-width: 370px) {

#community header .title {
  width: 35%;
}

}


