html, body {
  margin: 0; padding: 0;
  width: 100%;
}

#community {
  background: #211D1E;
  color: #E7E7E7;
}

#community #content {
  background: #1E1A1B;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  min-height: 1000px;
}

#community section.right .box {
  border: 1px solid #1B1B1B;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8) inset;
    webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8) inset;
  float: right;
  margin: 20px 40px 0 0;
  width: 28%;
}

#community section.right p {
  padding: 15px;
}

/* link settings */

#community header a:link, #community header a:visited {
  color: #FEFEFE;
}

/* navigation settings */

#community #content nav {
  border-bottom: 1px solid #E7E7E7;
  height: 51px;
}

#community #content #tabs {
  padding-top: 20px;
  margin: 0 0 0 20px;
}

#community #tabs a {
  background: #2F2B2C;
  border-top: 1px solid #464646;
  border-right: 1px solid #464646;
  border-left: 1px solid #464646;
  float: left;
  margin: 0 5px;
  padding: 6px 0 6px 18px;
  width: 21%;
}

#community #tabs #current a {
  background: #1E1A1B;
  border-top: 1px solid #EEE;
  border-right: 1px solid #EEE;
  border-left: 1px solid #EEE;
  border-bottom: 1px solid #1E1A1B;
  display: block;
  float: left;
}

#community #tabs #current a:hover, #community #tabs #current a:focus {
  background: #1E1A1B;
  color: #FF6600;
}

#community #tabs a:hover, #community #tabs a:focus {
  background: #272324;
}

/* search bar settings */

#community #searchBox {
  height: 85px;
}

#community #searchCommunity {
  float: none;
  padding: 18px 0;
  width: 100%;
}

#community #searchCommunity input[type="submit"] {
  float: right;
  margin: 8px 12px 0 0;
}

#community #searchCommunity input[type="text"] {
  -moz-transition: width 0.3s ease-in;
     -webkit-transition: width 0.3s ease-in;
     -ms-transition: width 0.3s ease-in;
     -o-transition: width 0.3s ease-in;
     transition: width 0.3s ease-in;
  float: right;
  width: 75%; height: 18px;
  margin-right: 12px;
}

#community #searchCommunity input[type="text"]:focus {
  width: 90%;
}


/* tab settings */

#community #tabNav .tab {
  margin-top: 40px;
}

#community #tabNav p {
  clear: both;
  padding: 10px 40px;
}

/* tab1 settings ~ community ~ */

#community #tab1 section.left {
  clear: both;
  float: left;
  margin: 20px 0 0 40px; padding-bottom: 40px;
  width: 56%;
}

#community #tab1 h1 {
  background-color: #59A80F;
    background-image: -webkit-gradient(linear, top left, bottom left, from(#519A0F), to(#7AB317));
    background-image: -webkit-linear-gradient(top, #519A0F, #7AB317);
    background-image: -moz-linear-gradient(top, #59A80F, #7AB317);
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#519A0F', endColorstr='#7AB317');
    background-image: -o-linear-gradient(top, #519A0F, #7AB317);
  box-shadow: 0 1px 0 #59A80F;
    webkit-box-shadow: 0 1px 0 #59A80F;
  border: 1px solid green;
  color: #FFF;
  font-size: 1.2em;
  padding: 6px 0 6px 20px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}

#community #tab1 section.left p {
  border: 1px solid #474747;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.1) inset;
    webkit-box-shadow: 0 1px 3px rgba(255, 255, 255, 0.1) inset;
  height: 180px;
  padding: 15px;
}

/* media queries */

@media only screen and (min-width: 1045px) and (max-width: 1211px) {

  p {
    color: crimson;
  }

  header .title {
    width: 18%;
  }

  header nav {
    width: 66%;
  }

  header form {
    width: 15%
  }

}

@media only screen and (min-width: 968px) and (max-width: 1045px) {

p {
    color: blue;
  }

}






































