/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

  #content {
    margin: 10px auto;
    min-height: auto;
  }

  #content, #slot-sidebar {
    width: 100%;
    max-width: 959px;
  }

  #block-one, #block-two, #block-three {
    width: 30%;
    float: left;
    margin-right: 1%;
  }

  #slot-sidebar ul li {
    display: inline-block;
    margin-right: 5px;
  }

}

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {

}

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
  .slideshow {
    display: none;
  }

  #content, #slot-sidebar {
    max-width: 767px;
  }

}

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {

}

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
  #content, #slot-sidebar {
    max-width: 479px;
  }
}

