/* -- general settings -- */

body {
  background: #FCFCFC;
}

#content {
  margin: 80px auto;
  min-height: 700px;
  width: 960px;
}

h3 {
  color: #5CAB12;
  font-size: 1.2em;
}

p, li {
  line-height: 19px;
}

a:link, a:visited {
  font-weight: bold;
  text-decoration: none;
}
a:link, a:visited {
  color: #58A714;
}
a:link:hover, a:link:focus, a:visited:focus, a:visited:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

li a:link, li a:visited {
  text-decoration: none;
}

::-selection {background: #7CCB38; color:#FFF;}
::-moz-selection {background: #7CCB38; color:#FFF;}

/* -- header settings -- */

header {
  background-color: #292A2D;
  border-bottom: 2px solid #151515;
  box-shadow: 0 4px 18px #9C9C9C; 
  height: 78px;
}

header .header-form {
  float: right;
  padding: 8px 8px 0 0;
}

header .header-form button[type="submit"] {
  background-color: #292A2D;
  border-style: none;
  vertical-align: middle;
}

header .header-wrapper {
  width: 85%;
  margin: 0 auto;
}

/* title settings */

header .title {
  clear: both;
  float: left;
  margin: 4px 20px 0 0;
  width: 17%;
}

header img {
  float: left;
}

header h6 {
  color: #fff;
  float: left;
  font-size: 2.2em;
  margin: 0 0 0 16px;
}

/* header navigation settings */

header nav {
  float: right; 
}

header nav ul li {
  float: left;
  margin: 14px 0 0 15px;
}

header nav ul li a {
  padding: 3px 12px;
  text-transform: uppercase;
}

header nav ul li.selected a {
  background-color: #59A80F; 
  background-image: none;  
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7AB317), to(#519A0F));
  background-image: -webkit-linear-gradient(top, #7AB317, #519A0F);
  background-image: -moz-linear-gradient(top, #7AB317, #519A0F);
  background-image: -o-linear-gradient(top, #7AB317, #519A0F);
  background-image: linear-gradient(to bottom, #7AB317, #519A0F);
  border: 1px solid #3D8C00;
  border-radius: 6px; 
  padding: 2px 11px;
}

header nav ul li a:link, header nav ul li a:visited {
  color: #FFF;
  display: block;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

header nav li a:link:hover, header nav li a:link:focus,
header nav li a:visited:hover, header nav li a:visited:focus {
  background-color: #606060; 
  background-image: none;  
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7F7F7F), to(#646464));
  background-image: -webkit-linear-gradient(top, #7F7F7F, #646464);
  background-image: -moz-linear-gradient(top, #7F7F7F, #646464);
  background-image: -o-linear-gradient(top, #7F7F7F, #646464);
  background-image: linear-gradient(to bottom, #7F7F7F, #646464);
  border: 1px solid #000;
  border-radius: 6px; 
  color: #FFF;
  padding: 2px 11px;
  text-decoration: none;
}

@media only screen and (max-width: 900px) {

header {
  height: 120px; 
}

header .title  {
  width: 100%;
}

header .header-wrapper nav {
  float: left;
}

header nav ul li {
  margin: 14px 15px 0 0;
}

/* generic features box */

#features {
  clear: both;
  margin: 80px auto;
  width: 900px;
}

#features .box {
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  float: left;
  margin: 0 8px 15px;
  height: 230px;
  width: 160px;
}

#features .box h3 {
  background: #59A80F;
  border-radius: 4px 4px 0 0;
  color: #FFF;
  margin: 0;
  padding: 5px 10px 15px 10px;
  font-size: 125%;
}

#features .box p {
  padding: 10px 15px;
}

/*   ++++++ page specific styles: About Silva ++++++ */

body.about .silva-content h2 {
  clear: both;
  color: #6F084F;
  font-weight: normal;
}

/* features and benefits */ 

body.about .silva-content h1 {
  background-color: #7C085C; 
  background-image: none;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#952175), to(#6E004E));
  background-image: -webkit-linear-gradient(top, #952175, #6E004E);
  background-image: -moz-linear-gradient(top, #952175, #6E004E);
  background-image: -o-linear-gradient(top, #952175, #6E004E);
  background-image: linear-gradient(to bottom, #952175, #6E004E); 
  border: 1px solid #3E001E;
  color: #FFF;
  font-size: 1.4em;
  margin: 0; padding: 4px 12px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

body.about .silva-content .introfacts {
  background-color: #EFEFEF;
  background-image: none;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #F1F1F1), color-stop(1, #FFFFFF));
  background-image: -webkit-linear-gradient(left, #F1F1F1 0%, #FFFFFF 100%);
  background-image: -moz-linear-gradient(left, #F1F1F1 0%, #FFFFFF 100%);
  background-image: -o-linear-gradient(left, #F1F1F1 0%, #FFFFFF 100%);
  background-image: linear-gradient(to right, #F1F1F1 0%, #FFFFFF 100%);
  border-left: 1px solid #929299;
  border-right: 1px solid #929299;
  border-bottom: 1px solid #929299;
  height: 280px;
  margin-bottom: 40px;
}

body.about .silva-content .introfacts p {
  color: #47092E;
  float: right; 
  padding: 10px 15px;
  margin: 0;
  font-size: 1.1em;
  line-height: 1.8em;
  width: 65%;
}

body.about .silva-content p {
  padding: 0 25px;
}

body.about .silva-content li {
  background-image: url(images/green_check.png);
  background-repeat: no-repeat;
  background-position: 0px 3px; 
  margin: 12px 0;
  padding-left: 24px;
}

/*   ++++++ page specific styles: Get Silva ++++++ */

body.getsilva .plain {
  border-bottom: 2px solid #DDE5E7;
  font-size: 1.2em;
  margin-top: 15px;
  padding-bottom: 30px;
}

body.getsilva section {
  border: 1px solid #656565;
  float: left;
  height: 400px;
  margin: 15px 0;
  width: 32%;
}

body.getsilva section.box-middle {
  border-top: 1px solid #656565;
  border-bottom: 1px solid #656565;
  border-left: 0px;
  border-right: 0px;
}

body.getsilva section h2 {
  background-color: #C93636;  
  color: #FFF;
  padding: 4px 12px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}

body.getsilva section p, body.getsilva section h3  {
  color: #444;
  padding: 0 16px;
}

body.getsilva h2 {
  color: #C93636;  
  clear: both;
}

body.getsilva .demo {
  clear: both;
  border: 1px dashed #B7BEBF;
  height: 370px;
  min-height: 370px;
  margin-top: 15px;
  padding: 15px;
}

body.getsilva .block {
  background-color: #EFEFEF;
  background-image: none;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #F1F1F1), color-stop(1, #FFFFFF));
  background-image: -webkit-linear-gradient(left, #F1F1F1 0%, #FFFFFF 100%);
  background-image: -moz-linear-gradient(left, #F1F1F1 0%, #FFFFFF 100%);
  background-image: -o-linear-gradient(left, #F1F1F1 0%, #FFFFFF 100%);
  background-image: linear-gradient(to right, #F1F1F1 0%, #FFFFFF 100%);
  border: 1px solid #E0E0E0;
  margin-top: 50px;
  padding: 10px 20px;
  height: 160px;
  width: 380px;
}

body.getsilva .block-left {
  float: left;
}

body.getsilva .block-right {
  float: right; 
}

/* generic tab navigation styling */

#content .tab-nav a:link, #content .tab-nav a:visited {
  background-color: #FEFEFE;
  background-image: none;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#FEFEFE), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, #FEFEFE, #E6E6E6);
  background-image: -moz-linear-gradient(top, #FEFEFE, #E6E6E6);
  background-image: -o-linear-gradient(top, #FEFEFE, #E6E6E6);
  background-image: linear-gradient(to bottom, #FEFEFE, #E6E6E6); 
  border-width: 1px 2px 0 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 0 0;
  color: #6A6A6A;
  font-weight: bold;
  float: left;
  margin: 0 8px 0 0;
  padding: 5px 0;
  text-align: center;
  vertical-align: bottom;
  width: 220px;
}

#content .tab-nav a:link:hover,#content .tab-nav a:visited:hover,
#content .tab-nav a:link:focus, #content .tab-nav a:visited:focus {
  background-color: #FFF;
  background-image: none;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#FFF), to(#DEDEDE));
  background-image: -webkit-linear-gradient(top, #FFF, #DEDEDE);
  background-image: -moz-linear-gradient(top, #FFF, #DEDEDE);
  background-image: -o-linear-gradient(top, #FFF, #DEDEDE);
  background-image: linear-gradient(to bottom, #FFF, #DEDEDE);  
  border-color: rgba(0, 0, 0, 0.3);
  color: #333;
  text-decoration: none;
}

#content .tab-nav .selected a,#content .tab-nav .selected a:hover,
#content .tab-nav .selected a:focus {
  background: #59A80F;
  color: white;
}

/*   ++++++ page specific styles: Documentation ++++++ */

body.documentation #content {
  background: #FCFCFC;
  border-style: none;
  box-shadow: none;
}

body.documentation #content #users, body.documentation #content #developers,
body.documentation #content #sysadmins, body.documentation #content #tutorials {
  background: #FFF;
  border-color: #59A80F #E3E3E3 #E3E3E3;
  border-style: solid;
  border-width: 5px 1px 1px;
  clear: both;
}

body.documentation #content {
  padding-bottom: 50px;
}

body.documentation #content #slot-one {
  display: inline-block;
  margin: 15px 20px 20px 60px;
  width: 510px;
  vertical-align: top;
}

/* sidebar nav styling */

body.documentation #navcontainer {
  display: inline-block;
  padding: 20px 0;
  width: 275px;
}

body.documentation #navcontainer #slot-two {
  margin: 15px 0 0 24px;
}

body.documentation #navcontainer #slot-two > ul {
  margin: 5px 10px;
}

body.documentation #navcontainer #slot-two ul ul {
  margin-left: 0;
}

body.documentation #navcontainer #slot-two ul ul li a {
  background-color: #FFF;
  background-image: none;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#FFF), to(#F2F2F2));
  background-image: -webkit-linear-gradient(top, #FFF, #F2F2F2);
  background-image: -moz-linear-gradient(top, #FFF, #F2F2F2);
  background-image: -o-linear-gradient(top, #FFF, #F2F2F2);
  background-image: linear-gradient(to bottom, #FFF, #F2F2F2);  
  border-top: 1px solid #FFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 4px 10px 6px;
  font-weight: normal;
  color: #000;
  margin: 0;
}

body.documentation #navcontainer #slot-two ul ul li a:hover,
body.documentation #navcontainer #slot-two ul ul li a:focus {
  background: #F1F1F1;
  text-decoration: none;
}

body.documentation #navcontainer #slot-two ul li.toplevel > a {
  background-color: #919191;
  background-image: none;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#919191), to(#555));
  background-image: -webkit-linear-gradient(top, #919191, #555);
  background-image: -moz-linear-gradient(top, #919191, #555);
  background-image: -o-linear-gradient(top, #919191, #555);
  background-image: linear-gradient(to bottom, #919191, #555);    
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 4px 10px 6px;
  text-shadow: 1px 1px 1px #000;
}

body.documentation #navcontainer #slot-two ul li.toplevel > a:hover,
body.documentation #navcontainer #slot-two ul li.toplevel > a:focus {
  background: #4F4F4F;
  text-decoration: none;
}

body.documentation #navcontainer #slot-two li {
  margin: 0 1px;
}

/*   ++++++ page specific styles: Support ++++++ */

body.support .wrapper {
  box-shadow: 0 1px 0 #EEE;
  webkit-box-shadow: 0 1px 0 #EEE;
  border: 1px solid #D6D6D6;
  height: 960px;
}

body.support .wrapper p.plain {
  border-left: 5px double #2378DF;
  line-height: 1.7em;
  margin: 30px;
  padding: 5px 0 5px 12px;
  width: 620px;
}

body.support .image {
  margin: 0;
}

body.support .image img {
  border: 2px solid #2378DF;
  margin: 30px 30px 60px 30px;
}

body.support section {
  clear: both;
  width: 700px;
  margin: 20px auto;
}

body.support section h2 {
  background-color: #2378DF;  
  background-image: none;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#1280E7), to(#0060C7));
  background-image: -webkit-linear-gradient(top, #1280E7, #0060C7);
  background-image: -moz-linear-gradient(top, #1280E7, #0060C7);
  background-image: -o-linear-gradient(top, #1280E7, #0060C7);
  background-image: linear-gradient(to bottom, #1280E7, #0060C7);  
  box-shadow: 0 1px 0 #2378DF;
  webkit-box-shadow: 0 1px 0 #2378DF;
  border: 1px solid #0052B9;
  border-radius: 10px 0 0 10px;
  color: #FFF;
  float: left; 
  height: 100px; 
  margin: 0; padding: 10px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
  vertical-align: top;
  width: 175px;
}

body.support section p {
  background-color: #FEFEFE;  
  background-image: none;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#FEFEFE), to(#F8F8F8));
  background-image: -webkit-linear-gradient(top, #FEFEFE, #F8F8F8);
  background-image: -moz-linear-gradient(top, #FEFEFE, #F8F8F8);
  background-image: -o-linear-gradient(top, #FEFEFE, #F8F8F8);
  background-image: linear-gradient(to bottom, #FEFEFE, #F8F8F8);
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #D6D6D6;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 1px 0 #EEE;
  margin-bottom: 42px; padding: 10px;
  height: 100px;
  float: left;
  width: 480px;
}

/* -- login page -- */

.silva-content div.login-form {
  margin-left: 100px;
  padding-top: 50px;
  height: 100px;
}

.silva-content div.login-form div.form-title {
  font-weight: normal;
}

.silva-content div.login-form div.form-label {
  font-weight: bold;
  padding: 2px 0;
}

/* input settings */ 

input[type="submit"] {
  background-color: #797979;
  background-image: none;  
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#696969), to(#797979));
  background-image: -webkit-linear-gradient(top, #696969, #797979);
  background-image: -moz-linear-gradient(top, #696969, #797979);
  background-image: -o-linear-gradient(top, #696969, #797979);
  background-image: linear-gradient(to bottom, #696969, #797979);
  border: 1px solid rgba(255,255,255, 0.3);
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  background: #519A0F;
}

input[type="text"] {
  border: 1px solid #777;
  border-radius: 5px;
  padding: 2px;
}

input[type="text"]:focus {
  border-color: #000;
}

input::-webkit-input-placeholder {color: #A1A1A1;}
input::-webkit-placeholder:hover {color: #555;}
input:-moz-placeholder {color: #A1A1A1;}
input:-moz-placeholder:hover {color: #555;}
input:-ms-placeholder {color: #A1A1A1;}
input:-ms-placeholder:hover {color: #555;}

/* -- footer settings -- */

footer {
  background-color: #292A2D;
  border-top: 1px solid #1B1B1B;
  color: #959595;
  height: 90px;
  position: relative;
}

footer #legal, footer ul {
  margin: 0 auto;
  width: 960px;
}

footer #legal {
  padding: 15px 0;
}

footer li {
  float: left;
  margin: 0 25px 20px 0;
}

footer a:link, footer a:visited {
  color: #A6A6A6;
  font-weight: bold;
  font-size: 90%;
  text-shadow: 0 -1px 1px #050505;
  text-transform: uppercase;
}

footer a:link:hover, footer a:link:focus, footer a:visited:hover, footer a:visited:focus {
  color: #E2E2E2; 
}

/* removed selectors after merge with custom.css */

/*
@font-face {
	font-family: 'Sansation';
	src: url('../fonts/Sansation-fontfacekit/Sansation_Regular-webfont.eot');
	src: local('â˜º'),
	url('../fonts/Sansation-fontfacekit/Sansation_Regular-webfont.woff') format('woff'),
	url('../fonts/Sansation-fontfacekit/Sansation_Regular-webfont.ttf') format('truetype'),
	url('../fonts/Sansation-fontfacekit/Sansation_Regular-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body  {
  margin: 0; padding: 0;
  width: 100%;
}

header #backgroundPicker {
  display: none;
}


header nav ul {
  float: right;
}

header .headerForm {
  margin: 10px 10px 0 0;
  float: right;
}

header .headerForm #toggleBar {
  display: none;
}

.headerForm input[type="text"] {
  vertical-align: top;
}

.headerForm button[type="submit"] {
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-color: #1D1E21;
  border: none;
  padding-top: 4px;
  height: 18px; width: 18px;
}

header #dropdownNav {
  display: none;
}
*/
