@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: local('â˜º'),
  url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
  url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
  url('../fonts/Roboto-Regular-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* -- general settings -- */

body {
  background: #FCFCFC;
}

#content {
  margin: 30px auto;
  min-height: 700px;
  width: 960px;
}

/* heading settings */

h1, h2, h3, h4, h5 {
  /*clear: both;*/
  font-family: 'Roboto', Verdana, Calibri, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}

p, li {
  line-height: 19px;
}

a:link, a:visited {
  color: #58A714;
  font-weight: bold;
  text-decoration: none;
}

a:link:hover, a:link:focus, a:visited:focus, a:visited:hover {
  text-decoration: underline;
}

span.image-caption {
  display: block;
  font-size: 0.8em;
}

li {
  list-style: none;
}

li a:link, li a:visited {
  text-decoration: none;
}

::-selection {
  background: #7CCB38;
  color:#FFF;
}
::-moz-selection {
  background: #7CCB38;
  color:#FFF;
}

/* column layout */

.maincontent {
  float: left;
  width: 700px;
}

.sidebar {
  float: right;
  width: 220px;
}

.maincontentwide {
  float: left;
  width: 780px;
}

.sidebarsmall {
  float: right;
  width: 140px;
}

/* two column layout */

.silva-content.two-column {
  float: left;
  width: 700px;
}

/* navigation styling */

/* site navigation */

.silva-navigation {
  background-color: #EFEFEF;
  background-image: none;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #F1F1F1), color-stop(1, #FFFFFF));
  background-image: -webkit-linear-gradient(left, #F1F1F1 0%, #FFFFFF 100%);
  background-image: -moz-linear-gradient(left, #F1F1F1 0%, #FFFFFF 100%);
  background-image: -o-linear-gradient(left, #F1F1F1 0%, #FFFFFF 100%);
  background-image: linear-gradient(to right, #F1F1F1 0%, #FFFFFF 100%);
  padding: 10px;
  margin-bottom: 15px;
  float: right;
  width: 190px;
}

.silva-navigation h1, .silva-navigation h2, .silva-navigation h3 {
  font-size: 1.1em;
  font-weight: normal;
}

.silva-navigation ul {
  margin: 0;
  padding: 0;
}

.silva-navigation ul ul {
  padding-left: 0.5em;
}

.silva-navigation li {
  margin: 12px 0;
  background-image: none;
}

.silva-navigation ul li {
  color: #58A714;
  border-bottom: 1px solid #DCDCDC;
}

.silva-navigation ul li ul li {
  border-bottom: 1px solid #9BB516;
}

.silva-navigation li.selected {
  border-bottom: 1px solid #000;
  color: #000;
}

.silva-navigation li.selected.level-0 {
  border-bottom: none;
}

.silva-navigation li.level-1 {
  color: #376D07;
  list-style: none;
  border-bottom: 1px solid #9bb516;
  margin: 2px;
}

.silva-navigation a:link, .silva-navigation a:visited {
  font-weight: normal;
}

.silva-navigation ul li ul li a:link, .silva-navigation ul li ul li a:visited {
  color: #376D07;
}

.silva-navigation a:hover {
  color: #000;
  text-decoration: none;
}

.silva-navigation li.selected a.selected:link, .silva-navigation li.selected a.selected:visited {
  color: #000;
  font-weight: bold;
}

/* page navigation */

.page-navigation {
  background-color: #292A2D;
  margin-top: 40px;
}

.page-navigation img {
  display: block;
  margin: 0 auto;
  padding: 6px 0;
}

.page-navigation ul {
  background-color: #F4F4F4;
  margin: 0 6px;
  padding: 2px 0;
}

.page-navigation li {
  margin: 12px 8px;
  color: #58A714;
  list-style: square inside none;
  border-bottom: 1px solid #DCDCDC;
}

.page-navigation li a {
  color: #333;
  font-size: 0.9em;
  font-weight: normal;
}

.page-navigation li a:hover, .page-navigation li a:focus {
  color: #000;
  text-decoration: none;
}

/* related info navigation */

.related-info ul {
  background-color: #58A714;
  margin: 20px 10px;
  padding: 1px;
  width: 220px;
}

.related-info ul li {
  background-color: #FFF;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#FFF), to(#F2F2F2));
  background-image: -webkit-linear-gradient(top, #FFF, #F2F2F2);
  background-image: -moz-linear-gradient(top, #FFF, #F2F2F2);
  background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#F2F2F2');
  background-image: -o-linear-gradient(top, #FFF, #F2F2F2);
  border-top: 1px solid #FFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 4px 10px 6px;
  color: #58A714;
  list-style: square inside none;
}

.related-info ul li a:hover,
.related-info ul li a:focus {
  background: #F1F1F1;
  text-decoration: none;
}

.related-info ul li a {
  color: #444;
}

/* feeds styling */

.newsitem {
  background-color: #303030;
  background-image: none;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #3D3D3D), color-stop(1, #151515));
  background-image: -webkit-linear-gradient(left, #3D3D3D 0%, #151515 100%);
  background-image: -moz-linear-gradient(left, #3D3D3D 0%, #151515 100%);
  background-image: -o-linear-gradient(left, #3D3D3D 0%, #151515 100%);
  background-image: linear-gradient(to right, #3D3D3D 0%, #151515 100%);
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 1px 1px 6px #353535;
  color: #FEFEFE;
  margin: 15px 5px;
  padding: 10px 15px;
  min-height: 150px;
}

.newsitem .eventdates {
  font-weight: bold;
  font-size: 0.7em;
}

.newsitem h4 {
  font-size: 1.1em;
  margin: 0 0 0.4em 0;
}

.newsitem a:link, .newsitem a:visited {
  color: #7BCA37;
  text-shadow: 1px 2px 0 #000;
}

.newsitm p.newslead {
  font-size: 0.9em;
}

.newsviewer-otherarticles {
  text-align: center;
}

/* -- header settings -- */

header {
  background-color: #292A2D;
  border-bottom: 2px solid #151515;
  box-shadow: 0 2px 10px #9C9C9C;
  height: 78px;
}

header .header-form {
  float: right;
  padding: 8px 8px 0 0;
  margin-right: 7.5%;
}

header .header-form button[type="submit"] {
  background-color: #292A2D;
  border-style: none;
  vertical-align: middle;
  padding: 0;
}

header .header-wrapper {
  width: 85%;
  margin: 0 auto;
}

/* title settings */

header .title {
  clear: both;
  float: left;
  margin: 4px 20px 0 0;
  width: 17%;
}

header img {
  float: left;
}

header h6 {
  color: #fff;
  float: left;
  font-size: 2.2em;
  margin: 0 0 0 16px;
}

/* header navigation settings */

header nav {
  float: right;
}

header nav ul li {
  float: left;
  margin: 14px 0 0 15px;
}

header nav ul li a {
  padding: 3px 12px;
  text-transform: uppercase;
}

header nav ul li.selected a {
  background-color: #59A80F;
  background-image: none;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7AB317), to(#519A0F));
  background-image: -webkit-linear-gradient(top, #7AB317, #519A0F);
  background-image: -moz-linear-gradient(top, #7AB317, #519A0F);
  background-image: -o-linear-gradient(top, #7AB317, #519A0F);
  background-image: linear-gradient(to bottom, #7AB317, #519A0F);
  border: 1px solid #3D8C00;
  border-radius: 6px;
  padding: 2px 11px;
}

header nav ul li a:link, header nav ul li a:visited {
  color: #FFF;
  display: block;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

header nav li a:link:hover, header nav li a:link:focus,
header nav li a:visited:hover, header nav li a:visited:focus {
  background-color: #606060;
  background-image: none;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7F7F7F), to(#646464));
  background-image: -webkit-linear-gradient(top, #7F7F7F, #646464);
  background-image: -moz-linear-gradient(top, #7F7F7F, #646464);
  background-image: -o-linear-gradient(top, #7F7F7F, #646464);
  background-image: linear-gradient(to bottom, #7F7F7F, #646464);
  border: 1px solid #000;
  border-radius: 6px;
  color: #FFF;
  padding: 2px 11px;
  text-decoration: none;
}

@media only screen and (max-width: 900px) {

  header {
    height: 120px;
  }

  header .title  {
    width: 100%;
  }

  header .header-wrapper nav {
    float: left;
  }

  header nav ul li {
    margin: 14px 15px 0 0;
  }

}

/* ++ box styling ++ */

#features {
  clear: both;
  margin: 15px auto;
  width: 900px;
}

#features .one-column {
  width: 100%;
  clear: both;
}

#features .two-column {
  width: 50%;
  float: left;
}

#features .box {
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  float: left;
  margin: 0 8px 5px;
  min-height: 120px;
  width: 205px;
}

#features .box h3 {
  background: #59A80F;
  border-radius: 4px 4px 0 0;
  color: #FFF;
  margin: 0;
  padding: 5px 10px;
  font-size: 125%;
}

#features .box p {
  padding: 10px 15px;
}

#features .box.medium {
  width: 48%;
}

#features .box.big {
  width: 46%;
  float: left;
  margin-top: 5px;
  min-height: 125px;
  background: none;
  border: none;
  border-left: 3px double #ddd;
  border-radius: 0;
  box-shadow: none;
}

#features .box.big h2 {
  margin: 10px 15px 0;
}

#features .box.big p {
  padding: 10px 15px 0;
}

#features .listing {
  width: 31%;
  background: #FFF;
  float: left;
  min-height: 100px;
  padding: 0.8em;
  padding-bottom: 0;
}

#features .listing h3 {
  color: #59A80F;
  border-bottom: 1px solid #59A80F;
  margin-top: 0;
}

#features .listing p {
  padding-bottom: 0;
}

.factsheet .maincontent li,
.section-about #slot-belowslideshow li,
.section-about #slot-maincontent li,
.section-documentation #sysadmins li,
.section-documentation #developers li,
.section-community .maincontent li,
.sprint-checklist .silva-content {
  background-image: url("../images/tick.png");
  background-repeat: no-repeat;
  background-position: 0 2px;
  margin: 12px 0;
  padding-left: 24px;
}

.develop .silva-content li {
  background-image: url("../images/hammer.png");
  background-repeat: no-repeat;
  background-position: 0 2px;
  margin: 12px 0;
  padding-left: 24px;
}

.blueprints .silva-content li {
  background-image: url("../images/blueprint.png");
  background-repeat: no-repeat;
  background-position: 0 2px;
  margin: 12px 0;
  padding-left: 24px;
}

.references .section-community div.image {
  border: none;
  padding: 10px;
  box-shadow: none;
}

/*   ++++++ page specific styles: About ++++++ */

.section-about h1, .section-about h2 {
  color: #6F084F;
}

.section-about #slot-one, .section-about .maincontent {
  width: 726px;
  margin: 0;
}

.section-about #slot-two {
  width: 220px;
  margin: 0;
}

.section-about .aboutnav a:visited {
  color: #444;
}

.section-about .aboutnav a:focus {
  color: #000;
  text-decoration: none;
}

.section-about .menu, .section-about .infoText {
  border-top: 4px solid #9B277B;
}

.section-about .slideshow {
  background-color: #7C085C;
  border: 1px solid #430E70;
  box-shadow: 1px 1px 4px #430E70;
}

.section-about .slideshow-right-control {
  background: url("slideshow.png") -90px 170px transparent;
}

.section-about .slideshow-left-control {
  background: url("slideshow.png") -60px 170px transparent;
}

.section-about .slideshow-marker.current:before {
  background-color: #000;
}

#about-news {
  clear:both;
}

#about-news .newsitem {
  background-color: #ddd;
  background-image: none;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#fff));
  background-image: -webkit-linear-gradient(top, #eee, #fff);
  background-image: -moz-linear-gradient(top, #eee, #fff);
  background-image: -o-linear-gradient(top, #eee, #fff);
  background-image: linear-gradient(to bottom, #eee, #fff);
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #303030;
  margin: 10px 5px;
  min-height: auto;
  padding: 0 15px;
  width: 44%;
  float: left;
  min-height: 100px;
}

#about-news .newsitem a:link, #about-news .newsitem a:visited {
  text-shadow: none;
  font-weight: normal;
}

#about-news .newsviewer-otherarticles {
  text-align: center;
  clear: both;
}

/*   ++++++ page specific styles: Factsheet ++++++ */

/* factsheet page */

.factsheet h1 {
  background-color: #7C085C;
  background-image: none;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#952175), to(#6E004E));
  background-image: -webkit-linear-gradient(top, #952175, #6E004E);
  background-image: -moz-linear-gradient(top, #952175, #6E004E);
  background-image: -o-linear-gradient(top, #952175, #6E004E);
  background-image: linear-gradient(to bottom, #952175, #6E004E);
  border: 1px solid #3E001E;
  color: #FFF;
  font-size: 1.4em;
  margin: 0;
  padding: 4px 12px;
  width: 700px;
}

.factsheet .introfacts {
  background-color: #EFEFEF;
  background-image: none;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #F1F1F1), color-stop(1, #FFFFFF));
  background-image: -webkit-linear-gradient(left, #F1F1F1 0%, #FFFFFF 100%);
  background-image: -moz-linear-gradient(left, #F1F1F1 0%, #FFFFFF 100%);
  background-image: -o-linear-gradient(left, #F1F1F1 0%, #FFFFFF 100%);
  background-image: linear-gradient(to right, #F1F1F1 0%, #FFFFFF 100%);
  border-left: 1px solid #929299;
  border-right: 1px solid #929299;
  border-bottom: 1px solid #929299;
  height: 280px;
  margin-bottom: 40px;
  padding: 20px;
}

.factsheet .introfacts p {
  color: #47092E;
  float: right;
  padding: 10px 15px;
  margin: 0;
  font-size: 1.1em;
  line-height: 1.8em;
  width: 65%;
}

.factsheet .maincontent p {
  padding: 0 25px;
}

.factsheet .maincontent li {
  background: none;
  margin: 0;
  padding-left: 0;
}

.factsheet .section-about #slot-two {
  margin: -32px 0 0;
  width: 220px;
}

/*   ++++++ page specific styles: Get Silva ++++++ */

.section-getsilva h1, .section-getsilva h2 {
  color: #C93636;
}

.section-getsilva .plain {
  border-bottom: 2px solid #DDD;
  font-size: 1.2em;
  margin-top: 15px;
  padding-bottom: 30px;
}

.section-getsilva section.box {
  border: 1px solid #656565;
  float: left;
  min-height: 420px;
  margin: 15px 0;
  width: 250px;
}

.section-getsilva section.box-middle {
  border-top: 1px solid #656565;
  border-bottom: 1px solid #656565;
  border-left: 0;
  border-right: 0;
}

.section-getsilva section h2 {
  background-color: #C93636;
  color: #FFF;
  padding: 4px 12px;
}

.section-getsilva section p, .section-getsilva section h3  {
  color: #444;
  padding: 0 16px;
}

.section-getsilva .image.float-left .image-caption {
  padding-left: 15px;
}

.section-getsilva .demo {
  border: 1px dashed #B7BEBF;
  min-height: 400px;
  margin-top: 15px;
  padding: 10px 15px;
  width: 170px;
  float: right;
}

.section-getsilva .block {
  background-color: #EFEFEF;
  background-image: none;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #F1F1F1), color-stop(1, #FFFFFF));
  background-image: -webkit-linear-gradient(left, #F1F1F1 0%, #FFFFFF 100%);
  background-image: -moz-linear-gradient(left, #F1F1F1 0%, #FFFFFF 100%);
  background-image: -o-linear-gradient(left, #F1F1F1 0%, #FFFFFF 100%);
  background-image: linear-gradient(to right, #F1F1F1 0%, #FFFFFF 100%);
  border: 1px solid #E0E0E0;
  margin-top: 15px;
  padding: 10px 20px;
  min-height: 340px;
  width: 380px;
}

.section-getsilva .block-left {
  float: left;
}

.section-getsilva .block-right {
  float: right;
}

/*   ++++++ page specific styles: Documentation ++++++ */

.section-documentation h1, .section-documentation h2 {
  color: #EDA200;
}

.section-documentation li {
  margin: 0;
}

.section-documentation #tabs {
  margin-top: 35px;
}

.section-documentation .tab-nav li.selected a, .section-documentation .tab-nav li.selected a:hover,
.section-documentation .tab-nav li.selected a:focus {
  background-color: #EDA200;
  background-image: none;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#EDDB3D), to(#EDA200));
  background-image: -webkit-linear-gradient(top, #EDDB3D, #EDA200);
  background-image: -moz-linear-gradient(top, #EDDB3D, #EDA200);
  background-image: -o-linear-gradient(top, #EDDB3D, #EDA200);
  background-image: linear-gradient(to bottom, #EDDB3D, #EDA200);
  color: #303030;
}

.section-documentation .tab-nav a:link, #content .tab-nav a:visited {
  background-color: #FEFEFE;
  background-image: none;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#FEFEFE), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, #FEFEFE, #E6E6E6);
  background-image: -moz-linear-gradient(top, #FEFEFE, #E6E6E6);
  background-image: -o-linear-gradient(top, #FEFEFE, #E6E6E6);
  background-image: linear-gradient(to bottom, #FEFEFE, #E6E6E6);
  border-width: 1px 2px 0 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px 4px 0 0;
  color: #6A6A6A;
  font-size: 0.9em;
  font-weight: bold;
  float: left;
  margin: 0 8px 0 0;
  padding: 5px 0;
  text-align: center;
  vertical-align: bottom;
  width: 22%;
}

.section-documentation .tab-nav a:link:hover, .section-documentation .tab-nav a:visited:hover,
.section-documentation .tab-nav a:link:focus, .section-documentation .tab-nav a:visited:focus {
  background-color: #FFF;
  background-image: none;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#FFF), to(#DEDEDE));
  background-image: -webkit-linear-gradient(top, #FFF, #DEDEDE);
  background-image: -moz-linear-gradient(top, #FFF, #DEDEDE);
  background-image: -o-linear-gradient(top, #FFF, #DEDEDE);
  background-image: linear-gradient(to bottom, #FFF, #DEDEDE);
  border-color: rgba(0, 0, 0, 0.3);
  color: #333;
  text-decoration: none;
}

.section-documentation #users, .section-documentation #developers,
.section-documentation #sysadmins, .section-documentation #tutorials {
  background-color: #FFF;
  border-color: #EDA200 #BEBEBE #BEBEBE;
  border-style: solid;
  border-width: 5px 1px 1px;
  clear: both;
}

.section-documentation #content #slot-one {
  display: inline-block;
  margin: 15px 20px 20px 60px;
  width: 510px;
  vertical-align: top;
}

.section-documentation section {
  padding: 30px 50px;
}

.section-documentation #users div.related-info {
  float: left;
  width: 50%;
}

/* --- different boxes --- */

#block-one {
  background-color: #303030;
  background-image: none;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #3D3D3D), color-stop(1, #151515));
  background-image: -webkit-linear-gradient(left, #3D3D3D 0%, #151515 100%);
  background-image: -moz-linear-gradient(left, #3D3D3D 0%, #151515 100%);
  background-image: -o-linear-gradient(left, #3D3D3D 0%, #151515 100%);
  background-image: linear-gradient(to right, #3D3D3D 0%, #151515 100%);
  border: 1px solid #000000;
  border-radius: 0;
  box-shadow: 1px 1px 1px #353535;
  color: #FEFEFE;
  margin-bottom: 10px;
}

#block-one .newsitem {
  padding: 0 5px;
  margin: 5px;
  min-height: auto;
  background: none;
  box-shadow: none;;
  border: none;
}

#block-two {
  background-color: #303030;
  background-image: none;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #3D3D3D), color-stop(1, #151515));
  background-image: -webkit-linear-gradient(left, #3D3D3D 0%, #151515 100%);
  background-image: -moz-linear-gradient(left, #3D3D3D 0%, #151515 100%);
  background-image: -o-linear-gradient(left, #3D3D3D 0%, #151515 100%);
  background-image: linear-gradient(to right, #3D3D3D 0%, #151515 100%);
  border: 1px solid #000000;
  border-radius: 0;
  box-shadow: 1px 1px 1px #353535;
  color: #FEFEFE;
  margin-bottom: 10px;
}

#block-two h3.newsitemheading {
  color: #2378DF;
}

#block-two .newsitem {
  padding: 0 5px;
  margin: 5px;
  min-height: auto;
  background: none;
  box-shadow: none;
  border: none;
}

#block-two .newsitem a:link, #block-two .newsitem a:visited,
#block-two a:link, #block-two a:visited {
  color: #2378DF;
  text-shadow: none;
}

#block-three {
  background-color: #303030;
  background-image: none;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #3D3D3D), color-stop(1, #151515));
  background-image: -webkit-linear-gradient(left, #3D3D3D 0%, #151515 100%);
  background-image: -moz-linear-gradient(left, #3D3D3D 0%, #151515 100%);
  background-image: -o-linear-gradient(left, #3D3D3D 0%, #151515 100%);
  background-image: linear-gradient(to right, #3D3D3D 0%, #151515 100%);
  border: 1px solid #000000;
  border-radius: 0;
  box-shadow: 1px 1px 1px #353535;
  color: #FEFEFE;
  margin-bottom: 10px;
}

#block-three h3.newsitemheading {
  color: #EDA200;
}

#block-three .newsitem {
  padding: 0 5px;
  margin: 5px;
  min-height: auto;
  background: none;
  box-shadow: none;
  border: none;
}

#block-three .newsitem a:link, #block-three .newsitem a:visited,
#block-three a:link, #block-three a:visited {
  color: #EDA200;
  text-shadow: none;
}

/* tab styles: user documentation */

.section-documentation #users .documentation-intro {
  background-color: #EFEFEF;
  background-image: none;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #F1F1F1), color-stop(1, #FFFFFF));
  background-image: -webkit-linear-gradient(left, #F1F1F1 0%, #FFFFFF 100%);
  background-image: -moz-linear-gradient(left, #F1F1F1 0%, #FFFFFF 100%);
  background-image: -o-linear-gradient(left, #F1F1F1 0%, #FFFFFF 100%);
  background-image: linear-gradient(to right, #F1F1F1 0%, #FFFFFF 100%);
  border: 1px solid #E0E0E0;
  height: 149px;
  margin: 30px 0 50px 0;
}

.section-documentation #users img {
  float: left;
}

.section-documentation #users p {
  float: left;
  padding: 15px 25px;
}

.section-documentation #users .info {
  clear: both;
}

/*   ++++++ page specific styles: Hosting ++++++ */

.hosting .section-about div.image {
  border: none;
  box-shadow: none;
}

/*   ++++++ page specific styles: Support ++++++ */

.section-support h1, .section-support h2 {
  color: #2378DF;
}

.section-support p.plain {
  border-left: 5px double #2378DF;
  line-height: 1.7em;
  margin: 30px 0 50px 0;
  padding: 5px 0 5px 12px;
  width: 460px;
}

.section-support .image {
  margin: 0;
}

.section-support section {
  clear: both;
  width: 700px;
  margin: 20px auto;
}

.section-support section h2 {
  background-color: #2378DF;
  background-image: none;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#1280E7), to(#0060C7));
  background-image: -webkit-linear-gradient(top, #1280E7, #0060C7);
  background-image: -moz-linear-gradient(top, #1280E7, #0060C7);
  background-image: -o-linear-gradient(top, #1280E7, #0060C7);
  background-image: linear-gradient(to bottom, #1280E7, #0060C7);
  box-shadow: 0 1px 0 #2378DF;
  webkit-box-shadow: 0 1px 0 #2378DF;
  border: 1px solid #0052B9;
  border-radius: 10px 0 0 10px;
  color: #FFF;
  float: left;
  height: 100px;
  margin: 0; padding: 10px;
  vertical-align: top;
  width: 175px;
}

.section-support section p {
  background-color: #FEFEFE;
  background-image: none;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#FEFEFE), to(#F8F8F8));
  background-image: -webkit-linear-gradient(top, #FEFEFE, #F8F8F8);
  background-image: -moz-linear-gradient(top, #FEFEFE, #F8F8F8);
  background-image: -o-linear-gradient(top, #FEFEFE, #F8F8F8);
  background-image: linear-gradient(to bottom, #FEFEFE, #F8F8F8);
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #D6D6D6;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 1px 0 #EEE;
  margin-bottom: 42px; padding: 10px;
  height: 100px;
  float: left;
  width: 480px;
}

/* input settings */

input[type="submit"] {
  background-color: #797979;
  background-image: none;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#696969), to(#797979));
  background-image: -webkit-linear-gradient(top, #696969, #797979);
  background-image: -moz-linear-gradient(top, #696969, #797979);
  background-image: -o-linear-gradient(top, #696969, #797979);
  background-image: linear-gradient(to bottom, #696969, #797979);
  border: 1px solid rgba(255,255,255, 0.3);
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  background: #519A0F;
}

input[type="text"] {
  border: 1px solid #777;
  border-radius: 5px;
  padding: 2px;
}

input[type="text"]:focus {
  border-color: #000;
}

input::-webkit-input-placeholder {color: #A1A1A1;}
input::-webkit-placeholder:hover {color: #555;}
input:-moz-placeholder {color: #A1A1A1;}
input:-moz-placeholder:hover {color: #555;}
input:-ms-placeholder {color: #A1A1A1;}
input:-ms-placeholder:hover {color: #555;}

/* -- footer settings -- */

footer {
  background-color: #1D1E21;
  border-top: 1px solid #000;
  color: #B0B0B0;
  height: 90px;
  position: relative;
}

footer #legal, footer ul {
  width: 960px;
}

footer ul {
  margin: 15px auto 0 auto;
}

footer li {
  float: left;
  margin-right: 35px;
}

footer li [title] {
  background-repeat: no-repeat;
  background-position: 0 -1px;
  padding-left: 21px;
}

footer li [title="Silva News"] {
  background-image: url(../images/newspaper.png);
}

footer li [title="Silva Tour"] {
  background-image: url(../images/map.png);
}

footer li [title="Try Silva"] {
  background-image: url(../images/application-search-result.png);
}

footer li [title="Silva Hosting"] {
  background-image: url(../images/server.png);
}

footer li [title="Ask a Silva Question"] {
  background-image: url(../images/question-balloon.png);
}

footer li [title="Sitemap"] {
  background-image: url(../images/sitemap.png);
}

footer #legal {
  clear: both;
  margin: 0 auto;
  padding-top: 15px;
}

footer a:link, footer a:visited {
  color: #C0C0C0;
  font-weight: bold;
  font-size: 90%;
}

footer ul li a:link, footer ul li a:visited {
  text-transform: uppercase;
}

footer a:link:hover, footer a:link:focus, footer a:visited:hover, footer a:visited:focus {
  color: #E2E2E2;
}

/* -- images -- */

div.image.default {
  display: inline-block;
}

.image-border div.image,
.section-about div.image,
.section-community div.image,
.section-documentation div.image,
.section-support div.image {
  border: 1px solid #DDD;
  padding: 10px;
  box-shadow: 1px 1px 5px #aaa;
}

.section-support div.image {
  border: 1px solid #2378DF;
  margin: 30px 0 0 0;
}

.no-image-border div.image {
  border: none;
  padding: 10px;
  box-shadow: none;
}

/* -- login page -- */

.silva-content div.login-form {
  margin-left: 100px;
  padding-top: 50px;
  height: 100px;
}

.silva-content div.login-form div.form-title {
  font-weight: normal;
}

.silva-content div.login-form div.form-label {
  font-weight: bold;
  padding: 2px 0;
}

/* slideshow page styling */

.slideshow {
  clear: both;
}

.slideshow-info {
  float: left;
  padding: 5px 15px;
  width: 240px;
}

.slideshow-control {
  cursor: pointer;
}

#slot-belowslideshow {
  width: 700px;
}

/* was .section-about */
.slideshow-info {
  width: 280px;
}

.slideshow-info h2 {
  font-size: 185%;
}

.slideshow-info p {
  font-size: 120%;
}

.slideshow-image {
  margin: 0;
}

/* info box styling */

.information {
  background-color: #292A2D;
  padding:10px;
  position:absolute;
  top: 160px;
  right: 0;
}

.info-box {
  position: fixed;
  right: 0;
  top: 160px;
  padding: 5px;
  width: 60px;
  background-color: #292A2D;
  color: #EFEFEF;
  cursor: pointer;
  border-top: 4px solid #59A80F;
}

.infoText {
  background-color: #292A2D;
  background-image: url("../images/information.png");
  background-repeat: no-repeat;
  background-position: 5px;
  color:#EFEFEF;
  padding: 5px 40px;
  position: fixed;
  right: 70px;
  top: 160px;
  width: 250px;
  border-top: 4px solid #59A80F;
  cursor: pointer;
}

.transition200 .duration, .transition200 .delay {
  visibility: hidden;
}

.transition200 {
  transition:200ms;
  webkit-transition:200ms;
  o-transition:200ms;
}

.section-about .info-box, .section-about .infoText {
  border-top: 4px solid #6F084F;
}

.section-getsilva .info-box, .section-getsilva .infoText {
  border-top: 4px solid #C93636;
}
.section-documentation .info-box, .section-documentation .infoText {
  border-top: 4px solid #EDDB3D;
}
.section-support .info-box, .section-support .infoText {
  border-top: 4px solid #2378DF;
}

/* sticky panel */

.stickypanel {
  z-index: 9999;
  background: none;
  text-align: right;
}

/* form styling */

.field {
  margin-bottom: 10px;
}

textarea {
  width: 340px;
  border: 1px solid #777;
  border-radius: 5px 5px 5px 5px;
}

input:invalid, textarea:invalid {
  box-shadow: 0 0 5px #ddd;
  border-radius: 5px 5px 5px 5px;
}

.form-status {
  font-weight: bold;
  border: 1px solid #58A714;
  padding: 10px;
  width: 320px;
  box-shadow: 0 0 5px #ddd;
  border-radius: 5px 5px 5px 5px;
}

/* software packages */

/* make generic for all table that list content */
table.silvatable.list {
  border: 1px solid #58A714;
  margin: 0 10px 10px 0;
  width: 100%;
}

table.silvatable.list th {
  font-size: 120%;
  background-color: #58A714;
  padding: 4px 8px;
  border-bottom: 1px solid #58A714;
  color: #fff;
}

table.silvatable.list th a:link,
table.silvatable.list th a:visited {
  color: #fff;
  text-decoration: underline;
}

table.silvatable.list td {
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(center top , #FFFFFF, #F2F2F2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid #FFFFFF;
  margin: 0;
  padding: 4px 10px 6px;
}

/* package specific list */

table.silvatable.list.package {
  float: left;
  width: 330px;
}

table.silvatable.list.package th {
  text-align: center;
}

/* search result styling */

.batchNav a {
  border: 1px solid;
  padding: 0.1em 0.4em;
}

.searchresults ul {
  margin-left: 0;
}

.searchresult {
  border-bottom: 1px solid #ddd;
  padding: 0.5em 0;
}