#slideshow {
  background-color: #59A80F;
  border: 1px solid #287700;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #257424;
	margin: 60px auto;
	width: 940px;
	height: 380px;
	position: relative;
}

#slideshow #slidesContainer {
  margin:0 auto;
  width: 880px;
  height: 380px;
  overflow-y: auto; /* allow scrollbar */
  overflow-x: hidden; 
  position: relative;
}

#slideshow #slidesContainer .slide {
  background-color: #FDFDFD;
  border-radius: 6px;
  margin: 10px 0;
  width: 880px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
  height: 360px;
}

#slideshow .info {
  float: left;
  padding: 20px 15px;
  height: 280px;
  width: 220px;
}

#slideshow h2 {
  color: #378600;
  font-size: 1.1em; 
}

#slideshow p {
  font-size: 0.9em;
  line-height: 1.4em;
}

.slide img {
  float: left;
  margin: 20px 15px;
}

.control {
  display: block;
  width: 15px;
  height: 263px;
  text-indent: -10000px;
  position: absolute;
  cursor: pointer;
}

#leftControl {
  top: 0;
  left: 10px;
  background: url(../images/left_arrow.png) no-repeat 0 170px;
}

#rightControl {
  top: 0;
  right: 10px;
  background: url(../images/right_arrow.png) no-repeat 0 170px;
} 

#slideshow #documentation {
  width: 550px;
}





