/* -- general settings -- */ 

body {
  background: #FCFCFC;
}

#content {
  background: #FFF;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  margin: 75px auto; 
  min-height: 700px;
  width: 960px;
}

h3 {
  border-bottom: 1px solid #E3E3E3;
  color: #007500;
  font-size: 125%;
}

p, li {
  line-height: 19px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#content a {
  color: #FF9900;
  font-weight: bold;
}

#content a:hover, #content a:focus, #content a:visited:focus, #content a:visited:hover {
  color: #FF6600;
}

#content a:visited {
  color: #D06004;
}

::-selection {background: #E6F8BA;}
::-moz-selection {background: #E6F8BA;}

/* -- header settings -- */

header {
  background-color: #696969; 
    background-image: -webkit-gradient(linear, top left, bottom left, from(#696969), to(#313131));
    background-image: -webkit-linear-gradient(top, #696969, #313131);
    background-image: -moz-linear-gradient(top, #696969, #313131); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#696969', endColorstr='#313131');      
    background-image: -o-linear-gradient(top, #696969, #313131);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  height: 60px;
}

header a:link, header a:visited, header a:link:hover, header a:visited:hover {
  color: #FFF;
  display: block;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

header a:focus {
  text-decoration: underline;
}

header img {
  float: left;
  margin: 12px 0 0 80px;
}
 
header h1 {
  color: #FFF;
  float:left;
  margin: 12px 0 0 20px;
  text-indent: 0;
  width: 120px;
}

header nav {  
  float: left;
  margin: 0; padding: 0;
  width: 565px;
}  

header nav li {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  float: left;
  text-align: center;
  width: 140px;
}

header nav li.last {
 border-right: 1px solid rgba(0, 0, 0, 0.2);
}

header nav li a {
  padding: 21px 0;
}

header nav li.selected {
  background-color: #696969; 
    background-image: -webkit-gradient(linear, top left, bottom left, from(#696969), to(#797979));
    background-image: -webkit-linear-gradient(top, #696969, #797979);
    background-image: -moz-linear-gradient(top, #696969, #797979); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#696969', endColorstr='#797979');      
    background-image: -o-linear-gradient(top, #696969, #797979);
}

header nav li:hover {
  background: #444;
  color: #FFF;
}

form {
  float: right;
  margin: 18px 30px 0 0; 
  width: 258px;
}

input[type="submit"] {
  background-color: #696969; 
    background-image: -webkit-gradient(linear, top left, bottom left, from(#696969), to(#797979));
    background-image: -webkit-linear-gradient(top, #696969, #797979);
    background-image: -moz-linear-gradient(top, #696969, #797979); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#696969', endColorstr='#797979');      
    background-image: -o-linear-gradient(top, #696969, #797979);
  border: 1px solid rgba(255,255,255, 0.3);
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  background: #519A0F;
}

input[type="text"] {
  border: 1px solid #777;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;
}

input[type="text"]:focus {
  border-color: #000;
}

input::-webkit-input-placeholder {color: #A1A1A1;}
input::-webkit-placeholder:hover {color: #555;}
input:-moz-placeholder {color: #A1A1A1;}  
input:-moz-placeholder:hover {color: #555;}
input:-ms-placeholder {color: #A1A1A1;}  
input:-ms-placeholder:hover {color: #555;}

/* -- footer settings -- */

footer {
  background-color: #313131;
  color: #CDCDCD;
  height: 80px;
  position: relative; 
  text-align: center; 
}

footer a:link, footer a:visited {
  color: #CDCDCD;
}

/* button styling */

#home #display a, #download section a#download {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  color: #FFF;
  display: inline-block;
  font-weight: bold;
  padding: 3px 0;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  width: 160px;
}

#home #display a#download_button, #download section a#download {
  background-color: #7AB317; 
    background-image: -webkit-gradient(linear, top left, bottom left, from(#7AB317), color-stop(0.5, #519A0F), to(#7AB317));
    background-image: -webkit-linear-gradient(top, #7AB317, #519A0F, #7AB317);
    background-image: -moz-linear-gradient(top, #7AB317, #519A0F, #7AB317); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7AB317', endColorstr='#519A0F');      
    background-image: -o-linear-gradient(top, #7AB317, #519A0F, #7AB317);
  box-shadow: 0 2px 0 #59A80F; 
    webkit-box-shadow: 0 2px 0 #59A80F;
}

#home #display a#download_button:hover, #home #display a#download_button:focus,
#download section a#download:hover, #download section a#download:focus {
  background: #519A0F;
  box-shadow: 0 2px 0 rgba(89, 168, 15, 0.5);
    webkit-box-shadow: 0 2px 0 rgba(89, 168, 15, 0.5);
  color: #FFF;
}

#home #display a#demo_button {
  background-color: #FA9F29; 
    background-image: -webkit-gradient(linear, top left, bottom left, from(#FA9F29), color-stop(0.5, #ED872D) to(#FA9F29));
    background-image: -webkit-linear-gradient(top, #FA9F29, #ED872D, #FA9F29);
    background-image: -moz-linear-gradient(top, #FA9F29, #ED872D, #FA9F29); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FA9F29', endColorstr='#ED872D');      
    background-image: -o-linear-gradient(top, #FA9F29, #ED872D, #FA9F29);
  box-shadow: 0 2px 0 #CE5E06;
    webkit-box-shadow: 0 2px 0 #CE5E06;
}

#home #display a#demo_button:hover, #home #display a#demo_button:focus {
  background: #ED872D;
  box-shadow: 0 2px 0 rgba(206, 94, 6, 0.5);
    webkit-box-shadow: 0 2px 0 rgba(206, 94, 6, 0.5);
}

#download section a#download {
  display: block;
  margin: 15px auto 20px auto;
  padding: 3px 0 2px 0;
  width: 120px;
}

/*   ++++++ page specific styles: about / home ++++++ */

#home #content {
  background: #F9F9F9;
  margin: 75px 0 0 0;
  width: 100%;
}

#home #display {
  background: #FFF;
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #CCC;
  box-shadow: 0 3px 5px rgba(0, 0 ,0, 0.2);
    webkit-box-shadow: 0 3px 5px rgba(0, 0 ,0, 0.2);
  height: 310px;
}

#home #display p {
  margin: 50px 0 20px 150px;
  width: 380px;
}

#home #display a {
  margin-left: 20px;
}

#home #display a#download_button {
  margin-left: 160px;
}

#home #features {
  clear: both;
  margin: 80px auto;
  width: 726px;
}

#home #features .box {
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  float: left;
  margin: 0 20px;
  height: 230px;
  width: 200px;
}

#home #features .box h1 {
  background: #59A80F;
  border-radius: 4px 4px 0 0;
  color: #FFF;
  margin: 0;
  padding: 5px 10px 15px 10px;
  font-size: 125%;
}

#home #features .box p {
  padding: 10px 15px;
}

#home .box a.readmore {
  background-image: url("../images/read_more_icon.gif"); 
  background-repeat: no-repeat;
  background-position: 85% 50%;
  display: inline-block;
  font-weight: bold;
  padding-left: 15px;
  text-transform: uppercase;
  width: 125px;
}

/*   ++++++ page specific styles: Aboutpage ++++++ */

#about #content nav li, #features #content nav li {
  border-left: 1px solid #007500;
  border-bottom: 1px solid #007500;
  border-top: 1px solid #007500;
  float: left;
  text-align: center;
  width: 239px;
}

#about #content nav ul li a, #features #content nav li a {
  background-color: #59A80F;
    background-image: -webkit-gradient(linear, top left, bottom left, from(#519A0F), to(#7AB317));
    background-image: -webkit-linear-gradient(top, #519A0F, #7AB317);
    background-image: -moz-linear-gradient(top, #59A80F, #7AB317); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#519A0F', endColorstr='#7AB317');      
    background-image: -o-linear-gradient(top, #519A0F, #7AB317);
  color: #FFF;
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 6px 0;
}

#about #content nav ul li a:hover, #features #content nav li a:hover,
#about #content nav ul li a:focus, #features #content nav li a:focus {
  background: #519A0F;
  text-decoration: none;
}

#features #content nav ul li a.selected, #about #content nav ul li a.selected {
  background: #008B00;
}

#about #content #aboutsilva {
  float: left;
  margin-top: 40px; padding: 0 50px;
  width: 620px;
}

#about #content #aboutsilva p:first-of-type {
  background: #FFF;
}

#about #content #aboutsilva p {
  background-color: #FEFEFE; 
    background-image: -webkit-gradient(linear, top left, bottom left, from(#FEFEFE), to(#F8F8F8));
    background-image: -webkit-linear-gradient(top, #FEFEFE, #F8F8F8);
    background-image: -moz-linear-gradient(top, #FEFEFE, #F8F8F8); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#F8F8F8');      
    background-image: -o-linear-gradient(top, #FEFEFE, #F8F8F8); 
  border-width: 1px 0;
  padding: 10px 0;
}

#about #content aside {
   background-color: #;
   border: 1px solid #CCC;
   border-radius: 0px;
   box-shadow: 1px 1px 10px 1px #EFEFEF inset;
     webkit-box-shadow: 1px 1px 10px 1px #EFEFEF inset;
   color: #fff;
   float: right;
   margin: 40px 20px 0 0; padding: 10px 20px;
   min-height: 300px; width: 160px;
}

#about #content aside h1 {
  background-color: #808080; 
    background-image: -webkit-gradient(linear, top left, bottom left, from(#808080), to(#5A5A5A));
    background-image: -webkit-linear-gradient(top, #808080, #5A5A5A);
    background-image: -moz-linear-gradient(top, #808080, #5A5A5A); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#5A5A5A');      
    background-image: -o-linear-gradient(top, #808080, #5A5A5A);
  border-top: 1px solid #111;
  color: #FFF;
  font-size: 130%;
  margin: 5px -30px;
  padding: 3px 30px;
  position: relative;
  text-shadow: 1px 1px 1px #000;
}

#about #content aside h1:before, #about #content aside h1:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: transparent;
  bottom: -10px;
}
    
#about #content aside h1:before{
  border-width: 0 10px 10px 0;
  border-right-color: #222;
  left: 0;
}
    
#about #content aside h1:after {
  border-width: 0 0 10px 10px;
  border-left-color: #222;
  right: 0;
}

#about #content aside h2 {
  color: #684781;
  font-size: 110%;
  margin-top: 15px;
}

#about #content aside p {
  color: #333;
  margin: 0; padding: 0;
}

/*   ++++++ page specific styles: Download ++++++ */

#download #content #intro {
  padding-top: 20px;
}

#download #content #intro p {
  border-width: 1px 0;
  border-style: solid;
  border-color: #E3E3E3;
  color: #007500;
  margin: 40px 0 0 97px;
  padding: 10px;
  width: 350px;
}

#download #get_silva {
  clear: both; 
  margin: 30px auto;
  width: 760px;
  height: 320px;
}

#download section {
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 0px;
  box-shadow: 1px 1px 10px 1px #EFEFEF inset;
    webkit-box-shadow: 1px 1px 10px 1px #EFEFEF inset;
  float: left;
  margin: 30px 0;
  height: 320px;
  width: 250px;
}

#download section.boxleft {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

#download section h1 {
  background-color: #919191; 
    background-image: -webkit-gradient(linear, top right, bottom right, from(#919191), to(#555));
    background-image: -webkit-linear-gradient(top, #919191, #555);
    background-image: -moz-linear-gradient(top, #919191, #555); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#919191', endColorstr='#555');      
    background-image: -o-linear-gradient(top, #919191, #555);
  color: #FFF;
  float: left;
  font-size: 125%;
  font-weight: bold;
  margin: 0 0 20px;
  padding: 6px 15px;
  position: relative;
  width: 220px;
}

#download section p {
  padding: 10px 15px;
}

#download #releases { 
  margin: auto; padding: 40px 0;
  width: 760px; 
}

table {
  margin-top: 30px; 
  width: 580px;
}

table th {
  background-color: #919191; 
    background-image: -webkit-gradient(linear, top right, bottom right, from(#919191), to(#555));
    background-image: -webkit-linear-gradient(top, #919191, #555);
    background-image: -moz-linear-gradient(top, #919191, #555); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#919191', endColorstr='#555');      
    background-image: -o-linear-gradient(top, #919191, #555);
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 5px 12px; 
}

table td {
  background-color: #FFF; 
    background-image: -webkit-gradient(linear, top left, bottom left, from(#FFF), to(#F2F2F2));
    background-image: -webkit-linear-gradient(top, #FFF, #F2F2F2);
    background-image: -moz-linear-gradient(top, #FFF, #F2F2F2); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#F2F2F2');      
    background-image: -o-linear-gradient(top, #FFF, #F2F2F2); 
  border-top: 1px solid #FFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 12px; 
}

#download #content table a {
  font-weight: normal;
}

/*   ++++++ page specific styles: Documentation ++++++ */

#documentation #content {
  background: #FCFCFC; 
  border-style: none;
  box-shadow: none;
}

#documentation #content #users {
  background: #FFF;
  border-color: #59A80F #E3E3E3 #E3E3E3;
  border-style: solid;
  border-width: 5px 1px 1px;
  clear: both;
}

/* tab navigation styling */

#documentation #content {
  padding-bottom: 50px;
}

#documentation #content nav a:link, #documentation #content nav a:visited {  
  background-color: #FEFEFE; 
    background-image: -webkit-gradient(linear, top left, bottom left, from(#FEFEFE), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, #FEFEFE, #E6E6E6);
    background-image: -moz-linear-gradient(top, #FEFEFE, #E6E6E6); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#E6E6E6');      
    background-image: -o-linear-gradient(top, #FEFEFE, #E6E6E6); 
  border-width: 1px 2px 0 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 0 0;
  color: #6A6A6A;
  font-weight: bold;
  float: left;
  margin: 0 8px 0 0;
  padding: 5px 0;
  text-align: center;
  vertical-align: bottom;
  width: 235px;
}

#documentation #content nav a:link:hover, #documentation #content nav a:visited:hover,
#documentation #content nav a:link:focus, #documentation #content nav a:visited:focus {
  background-color: #FFF; 
    background-image: -webkit-gradient(linear, top left, bottom left, from(#FFF), to(#DEDEDE));
    background-image: -webkit-linear-gradient(top, #FFF, #DEDEDE);
    background-image: -moz-linear-gradient(top, #FFF, #DEDEDE); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#DEDEDE');      
    background-image: -o-linear-gradient(top, #FFF, #DEDEDE);
  border-color: rgba(0, 0, 0, 0.3);
  color: #333;
  text-decoration: none;
}

#documentation #content nav a.selected, #documentation #content nav a.selected:hover,
#documentation #content nav a.selected:focus {
  background: #59A80F;
  color: white;
}

#documentation #content #slot-one {
  display: inline-block;
  margin: 15px 20px 20px 60px;
  width: 510px;
  vertical-align: top;
}

/* sidebar nav styling */

#documentation #slot-two {
  display: inline-block;
  padding: 20px 0;
  width: 275px;
}

#documentation #slot-two #navcontainer {
  margin: 15px 0 0 24px;
}

#documentation #slot-two #navcontainer > ul {
  margin: 5px 10px;
}

#documentation #slot-two #navcontainer ul ul {
  margin-left: 0;
}

#documentation #slot-two #navcontainer ul ul li a {
  background-color: #FFF; 
    background-image: -webkit-gradient(linear, top left, bottom left, from(#FFF), to(#F2F2F2));
    background-image: -webkit-linear-gradient(top, #FFF, #F2F2F2);
    background-image: -moz-linear-gradient(top, #FFF, #F2F2F2); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#F2F2F2');      
    background-image: -o-linear-gradient(top, #FFF, #F2F2F2); 
  border-top: 1px solid #FFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 4px 10px 6px;
  font-weight: normal;
  color: #000;
  margin: 0;
}

#documentation #slot-two #navcontainer ul ul li a:hover, 
#documentation #slot-two #navcontainer ul ul li a:focus {
  background: #F1F1F1; 
  text-decoration: none;
}

#documentation #slot-two #navcontainer ul li.toplevel > a {
  background-color: #919191; 
    background-image: -webkit-gradient(linear, top right, bottom right, from(#919191), to(#555));
    background-image: -webkit-linear-gradient(top, #919191, #555);
    background-image: -moz-linear-gradient(top, #919191, #555); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#919191', endColorstr='#555');      
    background-image: -o-linear-gradient(top, #919191, #555);
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 4px 10px 6px;
  text-shadow: 1px 1px 1px #000;
}

#documentation #slot-two #navcontainer ul li.toplevel > a:hover,
#documentation #slot-two #navcontainer ul li.toplevel > a:focus {
  background: #4F4F4F;
  text-decoration: none;
}

#documentation #slot-two #navcontainer li {
  margin: 0 1px;
}

/*   ++++++ page specific styles: Support ++++++ */

#support p {
  background-color: #FEFEFE; 
    background-image: -webkit-gradient(linear, top left, bottom left, from(#FEFEFE), to(#F8F8F8));
    background-image: -webkit-linear-gradient(top, #FEFEFE, #F8F8F8);
    background-image: -moz-linear-gradient(top, #FEFEFE, #F8F8F8); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#F8F8F8');      
    background-image: -o-linear-gradient(top, #FEFEFE, #F8F8F8); 
  border-width: 1px 0;
  border-style: solid;
  border-color: #EFEFEF;
  margin-top: 60px; padding: 20px;
  height: 160px;
}

#support #introshort p{
  color: #007500;
  float: left;
  font-size: 125%;
  margin-left: 85px;
  width: 210px;
}

#support #introsupport p {
  float: left;
  width: 500px;
}

#support #supportoptions {
  clear: both;
  margin: 0 auto; padding: 30px 0;
  width: 599px;
}

#support section {
  
  margin: 8px 0; padding: 15px 0;
}

#support .box h1 { 
  background-color: #59A80F;
    background-image: -webkit-gradient(linear, top left, bottom left, from(#519A0F), to(#7AB317));
    background-image: -webkit-linear-gradient(top, #519A0F, #7AB317);
    background-image: -moz-linear-gradient(top, #59A80F, #7AB317); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#519A0F', endColorstr='#7AB317');      
    background-image: -o-linear-gradient(top, #519A0F, #7AB317);
  box-shadow: 0 1px 0 #59A80F; 
    webkit-box-shadow: 0 1px 0 #59A80F;
  border: 1px solid green;
  border-radius: 10px 0 0 10px;
  color: #FFF; 
  display: inline-block;
  font-size: 125%;
  height: 100px; width: 200px;
  padding: 10px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
  vertical-align: top;
}

#support #supportoptions .box p {
  background: #FFF;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  border-color: #CCC;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); 
    webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  display: inline-block;
  height: 100px;
  width: 350px;
  margin: 0 -4px; padding: 10px 15px;
}

/*   ++++++ page specific styles: Features ++++++ */

#features nav#corefeatures li {
  background-color: #FFF; 
    background-image: -webkit-gradient(linear, top left, bottom left, from(#FFF), to(#F2F2F2));
    background-image: -webkit-linear-gradient(top, #FFF, #F2F2F2);
    background-image: -moz-linear-gradient(top, #FFF, #F2F2F2); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#F2F2F2');      
    background-image: -o-linear-gradient(top, #FFF, #F2F2F2); 
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  clear: both;
  color: #333;
  display: inline-block;
  float: left;
  font-weight: bold;
  padding: 3px 0;
  width: 240px;
}

#features #content h3, #features #content p, #features #content ul.featureslist {
  clear: both;
  margin: 0 auto;
  width: 700px;
}

#features #content h3 {
  padding-top: 20px;
  margin-bottom: 10px;
}

#features #content p:first-of-type {
  padding-top: 40px;
}

#features #content ul.featureslist li {
  margin-left: 30px;
  list-style: disc;
}

















