/* -- general settings -- */ 

body {
  background: #FCFCFC;
}

#content {
  background: #FFF;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  margin: 75px auto; 
  min-height: 700px;
  width: 960px;
}

h2 {
 border-bottom: 1px solid #E3E3E3;
 font-size: 120%;
}

/* -- header settings -- */

header {
  background-color: #696969; 
    background-image: -webkit-gradient(linear, top left, bottom left, from(#696969), to(#313131));
    background-image: -webkit-linear-gradient(top, #696969, #313131);
    background-image: -moz-linear-gradient(top, #696969, #313131); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#696969', endColorstr='#313131');      
    background-image: -o-linear-gradient(top, #696969, #313131);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  height: 59px;
}
 
header h1 {
  color: #FFF;
  display: inline-block;
  margin: 12px 0 0 120px;
  position: relative;
  text-indent: 0;
}

header nav {  
  float: right;
  margin-right: 120px; padding: 0;
  width: 437px;
}  

header nav li {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

header nav li.last {
 border-right: 1px solid rgba(0, 0, 0, 0.2);
}

header nav li a {
  padding: 18px 0;
}

header nav li.selected {
  background-color: #696969; 
    background-image: -webkit-gradient(linear, top left, bottom left, from(#696969), to(#797979));
    background-image: -webkit-linear-gradient(top, #696969, #797979);
    background-image: -moz-linear-gradient(top, #696969, #797979); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#696969', endColorstr='#797979');      
    background-image: -o-linear-gradient(top, #696969, #797979);
}

header nav a:link, header nav a:visited {
  color: #FFF;
}

header nav li:hover {
  background: #444;
  color: #FFF;
}

header nav li a:focus {
  text-decoration: underline;
}

/* -- list style settings -- */

li {
  list-style: none;
}

/* -- footer settings -- */

footer {
  background-color: #696969; 
    background-image: -webkit-gradient(linear, top left, bottom left, from(#696969), to(#313131));
    background-image: -webkit-linear-gradient(top, #696969, #313131);
    background-image: -moz-linear-gradient(top, #696969, #313131); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#696969', endColorstr='#313131');      
    background-image: -o-linear-gradient(top, #696969, #313131);
  color: #CDCDCD;
  position: relative; 
  text-align: center; 
}

footer a:link, footer a:visited {
  color: #CDCDCD;
}

/* button styling */

#about #display a, #download section a#download {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  color: #FFF;
  display: inline-block;
  font-weight: bold;
  padding: 3px 0;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  width: 150px;
}

#about #display a#download_button, #download section a#download {
  background-color: #7AB317; 
    background-image: -webkit-gradient(linear, top left, bottom left, from(#7AB317), color-stop(0.5, #519A0F), to(#7AB317));
    background-image: -webkit-linear-gradient(top, #7AB317, #519A0F, #7AB317);
    background-image: -moz-linear-gradient(top, #7AB317, #519A0F, #7AB317); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7AB317', endColorstr='#519A0F');      
    background-image: -o-linear-gradient(top, #7AB317, #519A0F, #7AB317);
  box-shadow: 0 2px 0 #59A80F; 
    webkit-box-shadow: 0 2px 0 #59A80F;
}

#about #display a#download_button:hover, #about #display a#download_button:focus,
#download section a#download:hover, #download section a#download:focus {
  background: #519A0F;
  box-shadow: 0 2px 0 rgba(89, 168, 15, 0.5);
    webkit-box-shadow: 0 2px 0 rgba(89, 168, 15, 0.5);
}

#about #display a#demo_button {
  background-color: #FA9F29; 
    background-image: -webkit-gradient(linear, top left, bottom left, from(#FA9F29), color-stop(0.5, #ED872D) to(#FA9F29));
    background-image: -webkit-linear-gradient(top, #FA9F29, #ED872D, #FA9F29);
    background-image: -moz-linear-gradient(top, #FA9F29, #ED872D, #FA9F29); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FA9F29', endColorstr='#ED872D');      
    background-image: -o-linear-gradient(top, #FA9F29, #ED872D, #FA9F29);
  box-shadow: 0 2px 0 #CE5E06;
    webkit-box-shadow: 0 2px 0 #CE5E06;
}

#about #display a#demo_button:hover, #about #display a#demo_button:focus {
  background: #ED872D;
  box-shadow: 0 2px 0 rgba(206, 94, 6, 0.5);
    webkit-box-shadow: 0 2px 0 rgba(206, 94, 6, 0.5);
}

#download section a#download {
  display: block;
  margin: 20px auto;
  padding: 0;
  width: 120px;
}

/*   ++++++ page specific styles: about ++++++ */

#about #content {
  background: #F9F9F9;
  margin: 75px 0 0 0;
  width: 100%;
}

#about #display {
  background: #FFF;
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #CCC;
  box-shadow: 0 3px 5px rgba(0, 0 ,0, 0.2);
    webkit-box-shadow: 0 3px 5px rgba(0, 0 ,0, 0.2);
  height: 310px;
}

#about #display p {
  margin: 50px 0 20px 150px;
  width: 380px;
}

#about #display a {
  margin-left: 20px;
}

#about #display a#download_button {
  margin-left: 165px;
}

#about #features {
  clear: both;
  margin: 80px auto;
  width: 726px;
}

#about #features .box {
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  float: left;
  margin: 0 20px;
  height: 230px;
  width: 200px;
}

#about #features .box h1 {
  background: #59A80F;
  border-radius: 4px 4px 0 0;
}

#about #features .box p {
  padding: 10px 15px;
}

#about .box a.readmore {
  background-image: url("../images/read_more_icon.gif"); 
  background-repeat: no-repeat;
  background-position: 85% 50%;
  display: inline-block;
  color: #59A80F;
  font-weight: bold;
  padding-left: 15px;
  text-transform: uppercase;
  width: 115px;
}

#about .box a.readmore:hover, #about .box a.readmore:focus {
  color: #008800;
  text-decoration: underline;
}

/*   ++++++ page specific styles: Download ++++++ */

#download #content #intro {
  padding-top: 20px;
}

#download #content #intro p {
  border-width: 1px 0;
  border-style: solid;
  border-color: #E3E3E3;
  color: #519A07;
  font-size: 140%;
  margin: 40px 0 0 97px;
  padding: 10px;
  width: 350px;
}

#download #get_silva {
  clear: both; 
  margin: 30px auto;
  width: 760px;
  height: 320px;
}

#download section {
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 0px;
  box-shadow: 1px 1px 10px 1px #EFEFEF inset;
    webkit-box-shadow: 1px 1px 10px 1px #EFEFEF inset;
  float: left;
  margin: 30px 0;
  height: 320px;
  width: 250px;
}

#download section.boxleft {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

#download section h1 {
  background: #59A80F;
  color: #FFF;
  float: left;
  font-size: 125%;
  font-weight: bold;
  margin: 0 0 20px;
  padding: 6px 15px;
  position: relative;
  width: 220px;
}

#download section p {
  padding: 10px 15px;
}

#download section a, #support section a {
  color: #FF9900;
  text-decoration: underline;
  font-weight: bold;
}

#download section a:hover, #support section a:hover,
#download section a:focus, #support section a:focus {
  color: #FF6600;
}

/*   ++++++ page specific styles: Documentation ++++++ */

#documentation #content #users {
  background: #FFF;
  border-color: #59A80F #E3E3E3 #E3E3E3;
  border-style: solid;
  border-width: 5px 1px 1px;
  clear: both;
  margin: 0 30px;
}

/* tab navigation styling */

#documentation #content {
  padding-bottom: 50px;
}

#documentation #content nav ul {
  margin-left: 25px;
}

#documentation #content nav a:link, #documentation #content nav a:visited {  
  background-color: #FEFEFE; 
    background-image: -webkit-gradient(linear, top left, bottom left, from(#FEFEFE), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, #FEFEFE, #E6E6E6);
    background-image: -moz-linear-gradient(top, #FEFEFE, #E6E6E6); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#E6E6E6');      
    background-image: -o-linear-gradient(top, #FEFEFE, #E6E6E6); 
  border-width: 1px 2px 0 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 0 0;
  color: #6A6A6A;
  float: left;
  margin: 30px 0 0 5px;
  padding-top: 3px;
  text-align: center;
  vertical-align: bottom;
  width: 225px;
}

#documentation #content nav a:link:hover, #documentation #content nav a:visited:hover,
#documentation #content nav a:link:focus, #documentation #content nav a:visited:focus {
  background-color: #FFF; 
    background-image: -webkit-gradient(linear, top left, bottom left, from(#FFF), to(#DEDEDE));
    background-image: -webkit-linear-gradient(top, #FFF, #DEDEDE);
    background-image: -moz-linear-gradient(top, #FFF, #DEDEDE); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#DEDEDE');      
    background-image: -o-linear-gradient(top, #FFF, #DEDEDE);
  border-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

#documentation #content nav a.selected, #documentation #content nav a.selected:hover
#documentation #content nav a.selected:focus {
  background: #59A80F;
  color: white;
}

#documentation #content #slot-one {
  display: inline-block;
  margin: 20px 20px 20px 60px;
  width: 510px;
  vertical-align: top;
}

/* sidebar nav styling */

#documentation #slot-two {
  display: inline-block;
  padding: 20px 0;
  width: 275px;
}

#documentation #slot-two #navcontainer {
  display: inline-block;
  margin: 15px 0 0 24px;
}

#documentation #slot-two #navcontainer > ul {
  margin: 5px 10px;
}

#documentation #slot-two #navcontainer ul ul {
  margin-left: 0;
}

#documentation #slot-two #navcontainer ul ul li {
  background: #FCFCFC;
  border-width: 1px 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  margin-top: 2px;
  padding: 2px 10px;
}

#documentation #slot-two #navcontainer ul li.toplevel > a {
  background-color: #919191; 
    background-image: -webkit-gradient(linear, right top, right bottom, from(#919191), to(#555));
    background-image: -webkit-linear-gradient(right, #919191, #555);
    background-image: -moz-linear-gradient(right, #919191, #555); 
    background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#919191', endColorstr='#555');      
    background-image: -o-linear-gradient(right, #919191, #555);
  color: #FFF;
  display: block;
  font-weight: bold;
  margin: 4px 0 0 0;
  padding: 2px 10px;
}

#documentation #slot-two #navcontainer ul li.toplevel > a:hover,
#documentation #slot-two #navcontainer ul li.toplevel > a:focus {
  background: #555;
  text-decoration: none;
}

#documentation #slot-two #navcontainer a {
  font-weight: normal;
  color: #000;
}

#documentation #slot-two #navcontainer a:hover, #documentation #slot-two #navcontainer a:focus {
  text-decoration: underline;
}

#documentation #slot-two #navcontainer li {
  margin: 0 1px;
}

/*   ++++++ page specific styles: Support ++++++ */

#support #content #intro {
  margin: 0 auto;
  padding-top: 30px;
  height: 200px;
  width: 818px;
}

#support p {
  border-width: 2px 0;
  border-style: solid;
  border-color: #E3E3E3;
  margin-top: 40px; padding: 20px;
  height: 160px;
}

#support #introshort p{
  color: #519A07;
  float: left;
  font-size: 125%;
  margin-left: 85px;
  width: 210px;
}

#support #introsupport p {
  float: left;
  font-size: 110%;
  width: 500px;
}

#support #supportoptions {
  clear: both;
  height: 280px;
  width: 720px;
  margin: 40px auto;
  padding-top: 30px;
}

#support .box h1, #about .box h1 {
  color: #FFF;
  margin: 0;
  padding: 5px 10px 15px 10px;
  font-size: 125%;
}

#support .box h1 { 
 background: #59A80F;
}

#support .box {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  float: left;
  margin: 0 10px;
  height: 280px;
  width: 218px;
}

#support #supportoptions .box p {
  background: #FFF;
  border-style: none;
  width: 195px;
  margin: 0; padding: 10px;
}







