/* ++++ Page specific styling community +++ */

body {
  background-image: url(assault.png);
  background-color: #333;
  color: #E7E7E7;
}

h1, h2, h3, h4, h5 {
  color: #E7E7E7;
}

.silva-navigation {
  background: none;
  margin-bottom: 15px;
}

.silva-navigation li.selected,
.silva-navigation li.selected a.selected:link,
.silva-navigation li.selected a.selected:visited {
  color: #fff;
}

.silva-navigation a:hover,
.community .silva-navigation a:visited:hover {
  color: #E7E7E7;
  text-decoration: none;
}

.image-border div.image, div.image {
  border: none;
  box-shadow: none;
  padding: 5px;
}

.content {
  position: relative;
}

.maincontent li,
.sprint-checklist .silva-content {
  background: none;
  margin: 0;
  padding-left: 0;
}

.maincontent {
  margin: 0;
  width: 715px;
}

#slot-newsfeeds {
  margin: 0;
  width: 220px;
  float: right;
}

.slideshow {
  clear: left;
  float: left;
  width: 715px;
  margin: 0 auto;
}

.slideshow-info h2 {
  font-size: 100%;
}

.slideshow-info p {
  font-size: 100%;
  color: #333;
}