/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

  header {
    height: 135px;
    padding: 5px;
  }

  header .header-wrapper {
    float: left;
    margin: 0 auto;
    width: 100%;
  }

  header .header-form {
    float: right;
    margin-right: 5px;
    padding: 2px 2px 0 0;
  }

  header .title {
    width: 135px;
  }

  header .header-wrapper nav {
    float: right;
    margin-top: 5px;
    margin-right: 35px;
  }

  header nav ul li {
    margin: 0;
    float: none;
    line-height: 15px;
  }

  header nav ul li.selected a {
    background-color: #59A80F;
    background-image: linear-gradient(to bottom, #7AB317, #519A0F);
    border: 1px solid #3D8C00;
    border-radius: 3px 3px 3px 3px;
  }

  header nav li a:link:hover, header nav li a:link:focus,
  header nav li a:visited:hover, header nav li a:visited:focus {
    border-radius: 3px 3px 3px 3px;
  }

  #content {
    margin: 10px auto;
    padding: 0;
    min-height: auto;
    width: 100%;
    max-width: 959px;
  }

  /*.silva-content, .silva-content.two-column {
    padding: 0 5px;
  }*/

  #slot-sidebar, .maincontent, #slot-belowslideshow, footer #legal, footer ul,
  .silva-navigation, .silva-content.two-column {
    width: 100%;
    max-width: 949px;
  }

  img {
    max-width: 949px;
  }

  #block-one, #block-two, #block-three {
    width: 32%;
    float: left;
    margin-right: 1%;
  }

  .silva-navigation {
    float: none;
  }

  .silva-navigation ul {
    margin: 0;
    padding: 0;
  }

  .silva-navigation ul li {
    display: inline-block;
    margin-right: 5px;
  }

  .slideshow {
    display: none;
  }

  .float-right, .float-left {
    clear: both;
    float: none;
  }

  #slot-belowslideshow {
    float: left;
  }

  footer li {
    margin-right: 5px;
  }

  footer ul li a:link, footer ul li a:visited {
    text-transform: none;
  }

}

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {

}

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {

  #content {
    width: 100%;
    max-width: 767px;
  }

  #slot-sidebar, .maincontent, #slot-belowslideshow, footer #legal,
  .silva-navigation, footer ul, img, .silva-content.two-column {
    max-width: 757px;
  }

}

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {

}

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {

  #content {
    width: 100%;
    max-width: 479px;
  }

  #slot-sidebar, .maincontent, #slot-belowslideshow, footer #legal,
  .silva-navigation, footer ul, img, .silva-content.two-column {
    max-width: 469px;
  }

  #block-one, #block-two, #block-three {
    width: 100%;
    margin-right: 0;
  }

  header .header-wrapper nav {
    margin-top: 5px;
    margin-right: 5px;
  }

}


